.project
.settings/
soatv-agent/.classpath
soatv-agent/.gitignore
soatv-agent/.project
soatv-agent/.settings/
soatv-camel/.classpath
soatv-camel/.gitignore
soatv-camel/.project
soatv-camel/.settings/
soatv-core/.classpath
soatv-core/.gitignore
soatv-core/.project
soatv-core/.settings/
soatv-example-node1/.classpath
soatv-example-node1/.project
soatv-example-node1/.settings/
soatv-example-node1/target/
soatv-example-node2/soatv-example-node2/.classpath
soatv-example-node2/soatv-example-node2/.project
soatv-example-node2/soatv-example-node2/.settings/
soatv-example-node2/soatv-example-node2/target/
soatv-web/.classpath
soatv-web/.project
soatv-web/.settings/
soatv-web/target/
